# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
/Infrastructure/Connections/config.connections.ts
Infrastructure/Connections/config.connections.ts

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

#Mac config Files
.DS_Store